@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --main-color: #1f2937;
    --blue: #3882F6;
    --font: 'Roboto';
}
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
    font-family: var(--font);
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--main-color);
    max-width: 950px;
    margin: 0 auto;
}
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
li{
    list-style: none;
}
#root, #__next {
    isolation: isolate;
}
header{
    display: flex;    
    justify-content: space-between;
    color: aliceblue;
    margin-top: 10px;
}
span.logo{
    font-size: 20px;
    font-weight: bold;
}
.links{
    display: flex;
    gap: 16px;
    align-items: center;
}
.hero{
    display: flex;
    justify-content: center;
    gap: 60px;
}
main{
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    margin-top: 50px;
}
.primary-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding-bottom: 12px;
}
.secondary-text{
    color: #F9FAF8;
    padding-bottom: 12px;
}
.btn-blue{
    padding: 5px 30px;
    border-radius: 8px;
    border: none;
    background-color: var(--blue);
    color: #F9FAF8 ;
}
.img-hero{
    justify-self: center;
    max-width: 500px;
    min-height: 300px;
}